@import "_variables";

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 35vw;
  background: linear-gradient(rgba(253, 245, 236, 1) 45%, white 45%);
}

.about-container__text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(252, 172, 138, 1);
  width: 35%;
  max-height: 100%;
  padding: 30px;
  @include prm-font;

  h2 {
    font-size: 2vw;
  }
  p {
    font-size: 1.2vw;
    margin-top: 20px;
    font-weight: 300;
  }
}

.about-container__picture {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #75cfb8;
  width: 35%;
max-height: 100%;
}


.profilepic {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 10px;

}
