.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75vh;
  border: 2px solid black;
}

.about {
  background-color: #fcac8a;
  width: 35%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.2;
}

.about h2 {
  font-size: 46px;
}

.about p {
  font-size: 22px;
  margin-top: 20px;
  letter-spacing: 0.4px;
}

.picture {
  background-color: #61c9a8;
  width: 35%;
}