.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75vh;
  background: linear-gradient(#fdf5ec 45%, white 45%);
}

.about-container__text {
  background-color: #fcac8a;
  width: 35%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
}
.about-container__text h2 {
  font-size: 40px;
}
.about-container__text p {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 200;
}

.about-container__picture {
  background-color: #61c9a8;
  width: 35%;
}