@import "_variables";

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75vh;
  border: 2px solid black;
}

.about {
  background-color: rgba(252, 172, 138, 1);
  width: 35%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.2;
}
.about h2 {
  font-size: 46px;
}
.about p {
  font-size: 22px;
  margin-top: 20px;
  letter-spacing: 0.4px;
}

.picture {
  background-color: rgba(97, 201, 168, 1);
  width: 35%;
}
