@import "_variables";

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75vh;
  border: 2px solid black;
  background: linear-gradient(rgba(253, 245, 236, 1) 45%, white 45%);
}

.about {
  background-color: rgba(252, 172, 138, 1);
  width: 35%;
  padding: 30px;
  @include prm-font;

  h2 {
    font-size: 40px;
  }
  p {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 200;
  }
}

.picture {
  background-color: rgba(97, 201, 168, 1);
  width: 35%;
}
