.footer {
  height: 100%;
  border: solid 2px blue;
  background-color: #fdf5ec;
  margin-top: 20%;
}
.footer button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: white;
  border: 0;
  cursor: pointer;
}
.footer button:hover {
  transform: scale(0.96);
}

.contactt {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 34px;
  padding: 50px;
  margin-top: 5vh;
  border: solid black 2px;
}

.btn-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  border: 2px solid black;
  margin: 10vh 0;
}
.btn-footer p {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 300;
}