@import "_variables";

.footer {
  height: 100%;
  border: solid 2px blue;
  background-color: rgba(253, 245, 236, 1);
  margin-top: 20%;
  button {
    @include btn-1;
  }
  button:hover {
    @include btn-hover;
  }
}

.contactt {
  @include section-heading;
  border: solid black 2px;
}

.btn-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  border: 2px solid black;
  margin: 10vh 0;

  p {
    @include prm-font;
    font-size: 18px;
    font-weight: 300;
  }
}
