.footer {
  height: 70vh;
  border: solid 2px blue;
  background-color: #fdf5ec;
  margin-top: 10%;
}

.contactt {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  padding: 50px;
  margin-top: 5vh;
}

.footer button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  border: 0;
}

.btn-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 35%;
}

.btn-footer p {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 0.4px;
}