@import "_variables";

.footer {
  height: 100%;
  background-color: rgba(253, 245, 236, 1);
  margin-top: 20%;
  button {
    @include btn-1;
  }
  button:hover {
    @include btn-hover;
  }
}

.footer__text {
  @include section-heading;
}

.btn__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  margin: 10vh 0;

  p {
    @include prm-font;
    font-size: 18px;
    font-weight: 300;
  }
}
