.footer {
  height: 100%;
  border: solid 0.5px #fdf5ec;
  background-color: #fdf5ec;
  margin-top: 10vw;
}
.footer button {
  width: 10vw;
  height: 3vw;
  border-radius: 1.5vw;
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: white;
  border: 0;
  cursor: pointer;
}
.footer button:hover {
  transform: scale(0.96);
  background-color: white;
  color: black;
  border: solid black 1px;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  font-weight: 300;
  padding: 5vw;
}

.btn__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 14vw;
  margin: 3vw 0;
}
.btn__footer p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
}