@import "_variables";

.footer {
  height: 100%;
  border: solid 0.5px rgba(253, 245, 236, 1);
  background-color: rgba(253, 245, 236, 1);
  margin-top: 10vw;
  button {
    @include btn-1;
  }
  button:hover {
    @include btn-hover;
  }
}

.footer__text {
  @include prm-font;
  font-size: 2vw;
  font-weight: 300;
  padding: 5vw;
}

.btn__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 14vw;
  margin: 3vw 0;

  p {
    @include prm-font;
    font-size: 1.5vw;
    font-weight: 300;
  }
}
