* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  border: 0;
}

/*homepage */
.home {
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid black;
  padding: 50px;
}

.headline {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.name {
  color: #6937ff;
}

.background {
  width: 100%;
  height: 120vh;
  background-color: #fdf5ec;
}