* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*homepage */
.home {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 4vw;
}
.home button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: white;
  border: 0;
  cursor: pointer;
}
.home button a {
  text-decoration: none;
  color: white;
}
.home button:hover {
  transform: scale(0.96);
}

.home__headline {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
}

.headline__name--color {
  color: #6937ff;
}

.background {
  width: 100%;
  height: 120vh;
  background-color: #fdf5ec;
}

.home__icons {
  font-size: 30px;
  padding: 10px;
}

a {
  color: black;
}