* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*homepage */
.home {
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  border: 2px solid black;
  padding: 5vw;
}
.home button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: white;
  border: 0;
  cursor: pointer;
}
.home button:hover {
  transform: scale(0.96);
}

.headline {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
  border: solid 2px black;
}

.name {
  color: #6937ff;
}

.background {
  width: 100%;
  height: 120vh;
  background-color: #fdf5ec;
}

.icons {
  font-size: 30px;
  padding: 10px;
}