@import "_variables";

/* Tablets and under */
// @media (max-width: 800px) {
//   .home__headline {
//     font-size: 28px;
//   }

//   .home {
//     height: 70%;
//   }

//   .about-container {
//     flex-direction: column-reverse;
//     align-items: center;
//     height: 85vh;
//   }

//   .about-container__text {
//     width: 80%;
//     height: 50%;
//   }

//   .about-container__picture {
//     width: 80%;
//     height: 50%;
//   }
//   .project-1__text,
//   .project-2__text,
//   .project-3__text,
//   .project-4__text,
//   .project-5__text,
//   .project-6__text {
//     width: 40%;
//   }

//   .projectpic {
//     width: 40%;
//   }
// }

/*project section flex & font size*/
// @media (max-width: 685px) {
// .home {
//   height: 65%;
// }

//   .about-container {
//     height: 100vh;
//   }
//   .project-1,
//   .project-2,
//   .project-3,
//   .project-4,
//   .project-5,
//   .project-6 {
//     flex-direction: column-reverse;
//     align-items: center;
//     height: 88vh;
//   }

//   .project-1__text,
//   .project-2__text,
//   .project-3__text,
//   .project-4__text,
//   .project-5__text,
//   .project-6__text {
//     height: 50%;
//     width: 80%;
//   }
//   .projectpic {
//     height: 50%;
//     width: 80%;
//   }

//   .home__headline {
//     font-size: 26px;
//   }

//   .calc {
//     width: 50%;
//     max-width: 50%;
//     height: 100%;
//     max-height: 100%;
//   }
// }

// @media (max-width: 550px) {
//   .home__headline {
//     font-size: 22px;
//   }
//   .home {
//     height: 55%;
//   }

//   .about-container__text {
//     h2 {
//       font-size: 32px;
//     }
//     p {
//       font-size: 20px;
//     }
//   }

//   .nav {
//     height: 130px;
//   }

//   .nav .--flex {
//     flex-direction: column;
//     justify-content: space-evenly;
//   }
// }

/*mobile*/

@media (max-width: 450px) {
  // navbar

  .nav {
    height: 22vw;
  }

  .nav .--flex {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav__logo {
    font-size: 4vw;
  }

  .nav {
    a {
      font-size: 2.8vw;
    }
  }

  // home

  .home {
    height: 120vw;

    button {
      width: 25vw;
      height: 6vw;
      font-size: 2.6vw;
      border-radius: 3vw;
    }
  }

  .background {
    height: 160vw;
  }

  .home__headline {
    font-size: 5vw;
  }

  .home__icons {
    width: 25vw;
  }

  .fab {
    font-size: 5vw;
  }

  // about

  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    height: 140vw;
  }

  .about-container__text {
    width: 70%;
    height: 50%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    padding: 5vw;
    h2 {
      font-size: 3.8vw;
    }

    p {
      font-size: 2.6vw;
      margin-top: 2vw;
    }
  }

  .about-container__picture {
    width: 70%;
    height: 50%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
  }

  .profilepic {
    border-bottom-right-radius: 0;
  }

  // skills

  .skills-container {
    height: 90vw;
    margin-top: 15vw;
  }

  .skills-container__title {
    font-size: 3.8vw;
  }

  .grid {
    height: 75vw;
    margin-top: 6vw;
  }

  #square {
    border-radius: 3vw;
  }

  .skillsFlex {
    height: 12vw;
    width: 94vw;
    font-size: 2.6vw;
  }

  // projects

  .projects-container {
    margin-top: 15vw;
  }

  .projects-container__title {
    font-size: 3.8vw;
    margin-bottom: 10vw;
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 130vw;
  }

  .project-1__text,
  .project-2__text,
  .project-3__text,
  .project-4__text,
  .project-5__text,
  .project-6__text {
    width: 70%;
    height: 50%;
    padding: 5vw;
    h2 {
      font-size: 4vw;
    }
    p {
      font-size: 2.8vw;
    }
  }

  .projectpic {
    border-radius: 3vw;
    height: 50%;
    width: 70%;
  }

  .calc {
    max-width: 50%;
    width: 50%;
    border-radius: 3vw;
  }

  .game {
    border-radius: 3vw;
  }

  .punkapi {
    border-radius: 3vw;
  }

  .morseCode {
    border-radius: 3vw;
  }

  .nologer {
    border-radius: 3vw;
  }

  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    margin-top: 15vw;
  }

  .fas {
    font-size: 5vw;
  }

  // footer
  .footer {
    margin-top: 15vw;
    button {
      width: 25vw;
      height: 6vw;
      font-size: 2.6vw;
      border-radius: 3vw;
    }
  }

  .footer__text {
    font-size: 4vw;
  }

  .btn__footer {
    height: 30vw;
    margin: 6vw 0;

    p {
      font-size: 2.8vw;
    }
  }
}
