@import "_variables";

/* Tablets and under */
@media (max-width: 800px) {
  .home__headline {
    font-size: 28px;
  }

  .home {
    height: 70%;
  }

  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    height: 85vh;
  }

  .about-container__text {
    width: 80%;
    height: 50%;
  }

  .about-container__picture {
    width: 80%;
    height: 50%;
  }
  .project-1__text,
  .project-2__text,
  .project-3__text,
  .project-4__text,
  .project-5__text,
  .project-6__text {
    width: 40%;
  }

  .projectpic {
    width: 40%;
  }
}

/*project section flex & font size*/
@media (max-width: 685px) {
.home {
  height: 65%;
}

  .about-container {
    height: 100vh;
  }
  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6 {
    flex-direction: column-reverse;
    align-items: center;
    height: 88vh;
  }

  .project-1__text,
  .project-2__text,
  .project-3__text,
  .project-4__text,
  .project-5__text,
  .project-6__text {
    height: 50%;
    width: 80%;
  }
  .projectpic {
    height: 50%;
    width: 80%;
  }

  .home__headline {
    font-size: 26px;
  }

  .calc {
    width: 50%;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
  }
}

@media (max-width: 550px) {
  .home__headline {
    font-size: 22px;
  }
  .home {
    height: 55%;
  }

  .about-container__text {
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 20px;
    }
  }

  .nav {
    height: 130px;
  }

  .nav .--flex {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/*mobile*/

@media (max-width: 450px) {
  .nav a {
    font-size: 14px;
    padding: 5px;
  }
}
