/* Tablets and under */
@media (max-width: 800px) {
  .home__headline {
    font-size: 32px;
  }

  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    height: 85vh;
  }

  .about-container__text {
    width: 80%;
    height: 50%;
  }

  .about-container__picture {
    width: 80%;
    height: 50%;
  }

  .project-1__text,
.project-2__text,
.project-3__text {
    width: 40%;
  }

  .projectpic {
    width: 40%;
  }
}
/*project section flex & font size*/
@media (max-width: 685px) {
  .about-container {
    height: 100vh;
  }

  .project-1,
.project-2,
.project-3 {
    flex-direction: column-reverse;
    align-items: center;
    height: 70vh;
  }

  .project-1__text,
.project-2__text,
.project-3__text {
    height: 50%;
    width: 80%;
  }

  .projectpic {
    height: 50%;
    width: 80%;
  }

  .home__headline {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .home__headline {
    font-size: 22px;
  }

  .about-container__text h2 {
    font-size: 32px;
  }
  .about-container__text p {
    font-size: 20px;
  }

  .nav {
    height: 130px;
  }

  .nav .--flex {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
/*mobile*/
@media (max-width: 450px) {
  .nav a {
    font-size: 14px;
    padding: 5px;
  }
}