@import "_variables";

/* Nav bar */

.nav__logo {
  @include prm-font;
  font-size: 1.4vw;
  letter-spacing: 0.8px;
  font-weight: 300;
}


.nav {
  background-color: white;
  height: 7vw;
  width: 100%;

  ul {
    display: flex;
    list-style-type: none;
  }
  a {
    padding: 1vw;
    margin: 0 0.6vw;
    @include prm-font;
    font-weight: 300;
    font-size: 1.2vw;
    letter-spacing: 0.8px;
    text-decoration: none;
    color: black;
  }
}

.nav a:hover {
  border-bottom: 2px black solid;
}
.nav__container {
  margin: 0 auto;
  padding: 0 4vw;
}

.--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
