.projects-container {
  height: auto;
}
.projects-container button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: #2e3138;
  border: 0;
  cursor: pointer;
}
.projects-container button:hover {
  transform: scale(0.96);
}

.projects-container__title {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 34px;
  padding: 50px;
  margin-top: 5vh;
}

.project-1,
.project-2,
.project-3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 45vh;
}

.project-1__text,
.project-2__text,
.project-3__text {
  background-color: #2e3138;
  width: 30%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.project-1__text h2,
.project-2__text h2,
.project-3__text h2 {
  font-size: 26px;
}
.project-1__text p,
.project-2__text p,
.project-3__text p {
  font-size: 18px;
  font-weight: 400;
}

.projectpic {
  background-color: #dddfe3;
  width: 30%;
}

.project-2,
.project-3 {
  margin-top: 15vh;
}