@import "variables";

.projects-container {
  height: auto;
  border: solid 2px blue;
  button {
    @include btn-2;
  }
  button:hover {
    @include btn-hover;
  }
}

.projectstitle {
  @include section-heading;
}

.project1,
.project2,
.project3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 45vh;
  border: 2px solid black;
}

.project1type,
.project2type,
.project3type {
  background-color: #2e3138;
  width: 30%;
  padding: 30px;
  @include prm-font;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  h2 {
    font-size: 26px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
  }
}

.projectpic {
  background-color: #dddfe3;
  width: 30%;
}

.project2 {
  margin-top: 15vh;
}

.project3 {
  margin-top: 15vh;
}
