.projects-container {
  height: auto;
  border: solid 2px blue;
}
.projects-container button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: #2e3138;
  border: 0;
  cursor: pointer;
}
.projects-container button:hover {
  transform: scale(0.96);
}

.projectstitle {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
  padding: 50px;
  margin-top: 5vh;
}

.project1,
.project2,
.project3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 45vh;
  border: 2px solid black;
}

.project1type,
.project2type,
.project3type {
  background-color: #2e3138;
  width: 30%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.project1type h2,
.project2type h2,
.project3type h2 {
  font-size: 26px;
}
.project1type p,
.project2type p,
.project3type p {
  font-size: 18px;
  font-weight: 400;
}

.projectpic {
  background-color: #dddfe3;
  width: 30%;
}

.project2 {
  margin-top: 15vh;
}

.project3 {
  margin-top: 15vh;
}