.skills-container {
  height: 37vw;
  margin-top: 8vw;
}

.skills-container__title {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30vw;
  margin-top: 3vw;
}

#square {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

#square:hover {
  transform: scale(0.96);
}

.skillsFlex {
  display: flex;
  justify-content: space-evenly;
  height: 5vw;
  width: 60vw;
  font-size: 1.2vw;
  text-align: center;
}

.div1 {
  background-color: #f0e5d8;
}

.div2 {
  background-color: #fdc478;
}

.div3 {
  background-color: #75cfb8;
}

.div4 {
  background-color: #fef7e1;
}

.div5 {
  grid-area: 2/1/3/2;
  background-color: #fef7e1;
}

.div6 {
  grid-area: 2/2/3/3;
  background-color: #f0e5d8;
}

.div7 {
  grid-area: 2/3/3/4;
  background-color: #fdc478;
}

.div8 {
  grid-area: 2/4/3/5;
  background-color: #75cfb8;
}

.div9 {
  grid-area: 3/1/4/2;
  background-color: #75cfb8;
}

.div10 {
  grid-area: 3/2/4/3;
  background-color: #fef7e1;
}

.div11 {
  grid-area: 3/3/4/4;
  background-color: #f0e5d8;
}

.div12 {
  grid-area: 3/4/4/5;
  background-color: #fdc478;
}

.div13 {
  grid-area: 4/1/5/2;
  background-color: #fdc478;
}

.div14 {
  grid-area: 4/2/5/3;
  background-color: #75cfb8;
}

.div15 {
  grid-area: 4/3/5/4;
  background-color: #fef7e1;
}

.div16 {
  grid-area: 4/4/5/5;
  background-color: #f0e5d8;
}