/* Nav bar */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=PT+Sans&display=swap");
.logo {
  font-family: "PT Sans", sans-serif;
  font-size: 38px;
}

.navbar {
  background-color: white;
  height: 80px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.navbar a:hover {
  border-bottom: 2px black solid;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*homepage */
.home button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: white;
  border: 0;
}

.home {
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid black;
  padding: 50px;
}

.headline {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
}

.name {
  color: #6937ff;
}

.background {
  width: 100%;
  height: 120vh;
  background-color: #fdf5ec;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 75vh;
  border: 2px solid black;
  width: 70%;
  margin: 0 auto;
  position: absolute;
  left: 20px;
  top: 100px;
}

.about {
  background-color: #fcac8a;
  width: 50%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
}
.about h2 {
  font-size: 48px;
}
.about p {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 200;
}

.picture {
  background-color: #61c9a8;
  width: 50%;
}

.skills-container {
  height: 90vh;
  border: 2px solid black;
}

.skills {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
  padding: 50px;
  margin-top: 5vh;
}

.projects-container {
  height: 100%;
  border: solid 2px blue;
}
.projects-container button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: #2e3138;
  border: 0;
}

.projectstitle {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
  padding: 50px;
  margin-top: 5vh;
}

.project1,
.project2,
.project3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 40vh;
  border: 2px solid black;
}

.project1type,
.project2type,
.project3type {
  background-color: #2e3138;
  width: 30%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.project1type h2,
.project2type h2,
.project3type h2 {
  font-size: 30px;
}
.project1type p,
.project2type p,
.project3type p {
  font-size: 22px;
  font-weight: 400;
}

.projectpic {
  background-color: #dddfe3;
  width: 30%;
}

.project2 {
  margin-top: 15vh;
}

.project3 {
  margin-top: 15vh;
}

.footer {
  height: 70vh;
  border: solid 2px blue;
  background-color: #fdf5ec;
  margin-top: 10%;
}
.footer button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 16px;
  color: white;
  border: 0;
}

.contactt {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
  padding: 50px;
  margin-top: 5vh;
  border: solid black 2px;
}

.btn-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  border: 2px solid black;
  margin: 10vh 0;
}
.btn-footer p {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 1.2;
  font-size: 22px;
  font-weight: 300;
}