* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Nav bar */
.logo {
  font-family: "PT Sans", sans-serif;
  font-size: 38px;
}

.navbar {
  background-color: white;
  height: 80px;
}

.navbar ul {
  display: flex;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
}

.navbar a:hover {
  border-bottom: 2px black solid;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*homepage */

.home {
  height: 75vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid black;
  padding: 50px;
}

.headline {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 1.2;
}

.home button {
  width: 130px;
  height: 42px;
  border-radius: 20px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  border: 0;
}

.name {
  color: rgba(105, 55, 255, 1);
}


.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  border: 2px solid black;
  
}

.about {
  background-color: rgba(252, 172, 138, 1);
  width: 35%;
  padding: 30px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.2;
}
.about h2 {
  font-size: 46px;
}
.about p {
  font-size: 22px;
  margin-top: 20px;
}

.picture {
  background-color: rgba(97, 201, 168, 1);
  width: 35%;
}
