/* Nav bar */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=PT+Sans&display=swap");
.nav__logo {
  font-family: "Raleway", sans-serif;
  font-size: 1.4vw;
  letter-spacing: 0.8px;
  font-weight: 300;
}

.nav {
  background-color: white;
  height: 7vw;
  width: 100%;
}
.nav ul {
  display: flex;
  list-style-type: none;
}
.nav a {
  padding: 1vw;
  margin: 0 0.6vw;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  letter-spacing: 0.8px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  border-bottom: 2px black solid;
}

.nav__container {
  margin: 0 auto;
  padding: 0 4vw;
}

.--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*homepage */
.home {
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5vw;
}
.home button {
  width: 10vw;
  height: 3vw;
  border-radius: 1.5vw;
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: white;
  border: 0;
  cursor: pointer;
}
.home button:hover {
  transform: scale(0.96);
  background-color: white;
  color: black;
  border: solid black 1px;
}

.home__headline {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  font-weight: 300;
}

.headline__name--color {
  color: #6937ff;
}

.background {
  width: 100%;
  height: 65vw;
  background-color: #fdf5ec;
}

.home__icons {
  width: 10vw;
  display: flex;
  justify-content: space-around;
}

a {
  color: black;
}

.fab {
  font-size: 2vw;
}

.fab:hover {
  transform: scale(0.96);
  cursor: pointer;
}

.fas:hover {
  transform: scale(0.96);
  cursor: pointer;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 35vw;
  background: linear-gradient(#fdf5ec 45%, white 45%);
}

.about-container__text {
  border-top-left-radius: 1.2vw;
  border-bottom-left-radius: 1.2vw;
  background-color: #fcac8a;
  width: 35%;
  max-height: 100%;
  padding: 3vw;
  font-family: "Raleway", sans-serif;
}
.about-container__text h2 {
  font-size: 2vw;
  line-height: 140%;
}
.about-container__text p {
  font-size: 1.2vw;
  margin-top: 1.6vw;
  font-weight: 300;
  line-height: 140%;
}

.about-container__picture {
  border-top-right-radius: 1.2vw;
  border-bottom-right-radius: 1.2vw;
  background-color: #75cfb8;
  width: 35%;
  max-height: 100%;
}

.profilepic {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 1.2vw;
}

.skills-container {
  height: 37vw;
  margin-top: 8vw;
}

.skills-container__title {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  text-align: center;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30vw;
  margin-top: 3vw;
}

#square {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.2vw;
}

.skillsFlex {
  display: flex;
  justify-content: space-evenly;
  height: 5vw;
  width: 60vw;
  font-size: 1.2vw;
  text-align: center;
}

.div1 {
  background-color: #f0e5d8;
}

.div2 {
  background-color: #fdc478;
}

.div3 {
  background-color: #75cfb8;
}

.div4 {
  background-color: #fef7e1;
}

.div5 {
  background-color: #fef7e1;
}

.div6 {
  background-color: #f0e5d8;
}

.div7 {
  background-color: #fdc478;
}

.div8 {
  background-color: #75cfb8;
}

.div9 {
  background-color: #75cfb8;
}

.div10 {
  background-color: #fef7e1;
}

.div11 {
  background-color: #f0e5d8;
}

.div12 {
  background-color: #fdc478;
}

.div13 {
  background-color: #fdc478;
}

.div14 {
  background-color: #75cfb8;
}

.div15 {
  background-color: #fef7e1;
}

.div16 {
  background-color: #f0e5d8;
}

.projects-container {
  margin-top: 8vw;
  height: auto;
}
.projects-container button {
  width: 10vw;
  height: 3vw;
  border-radius: 1.5vw;
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: white;
  border: 0;
  cursor: pointer;
}
.projects-container button:hover {
  transform: scale(0.96);
  background-color: white;
  color: black;
  border: solid black 1px;
}

.projects-container__title {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  text-align: center;
  font-weight: 300;
  margin-bottom: 5vw;
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 30vw;
}

.project-1__text,
.project-2__text,
.project-3__text,
.project-4__text,
.project-5__text,
.project-6__text {
  width: 30%;
  padding: 3vw;
  font-family: "Raleway", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-1__text h2,
.project-2__text h2,
.project-3__text h2,
.project-4__text h2,
.project-5__text h2,
.project-6__text h2 {
  font-size: 2vw;
  border-bottom: solid #2e31386b 1px;
}
.project-1__text p,
.project-2__text p,
.project-3__text p,
.project-4__text p,
.project-5__text p,
.project-6__text p {
  font-size: 1.3vw;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  line-height: 140%;
}

.projectpic {
  border-radius: 1.2vw;
  background-color: black;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  max-width: 80%;
  max-height: 100%;
  width: 80%;
  height: 100%;
  border-radius: 1.2vw;
}

.game {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
}

.punkapi {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
}

.morseCode {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
}

.nologer {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
}

.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
  margin-top: 8vw;
}

.fas {
  font-size: 2vw;
}

.projecticons {
  display: flex;
  justify-content: space-between;
}

.footer {
  height: 100%;
  border: solid 0.5px #fdf5ec;
  background-color: #fdf5ec;
  margin-top: 10vw;
}
.footer button {
  width: 10vw;
  height: 3vw;
  border-radius: 1.5vw;
  background-color: black;
  font-family: "Raleway", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: white;
  border: 0;
  cursor: pointer;
}
.footer button:hover {
  transform: scale(0.96);
  background-color: white;
  color: black;
  border: solid black 1px;
}

.footer__text {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  font-weight: 300;
  padding: 5vw;
}

.btn__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 14vw;
  margin: 3vw 0;
}
.btn__footer p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5vw;
  font-weight: 300;
}

/* Tablets and under */
/*project section flex & font size*/
/*mobile*/
@media (max-width: 450px) {
  .nav {
    height: 22vw;
  }

  .nav .--flex {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav__logo {
    font-size: 4vw;
  }

  .nav a {
    font-size: 2.8vw;
  }

  .home {
    height: 120vw;
  }
  .home button {
    width: 25vw;
    height: 6vw;
    font-size: 2.6vw;
    border-radius: 3vw;
  }

  .background {
    height: 160vw;
  }

  .home__headline {
    font-size: 5vw;
  }

  .home__icons {
    width: 25vw;
  }

  .fab {
    font-size: 5vw;
  }

  .about-container {
    flex-direction: column-reverse;
    align-items: center;
    height: 140vw;
  }

  .about-container__text {
    width: 70%;
    height: 50%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    padding: 5vw;
  }
  .about-container__text h2 {
    font-size: 3.8vw;
  }
  .about-container__text p {
    font-size: 2.6vw;
    margin-top: 2vw;
  }

  .about-container__picture {
    width: 70%;
    height: 50%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
  }

  .profilepic {
    border-bottom-right-radius: 0;
  }

  .skills-container {
    height: 90vw;
    margin-top: 15vw;
  }

  .skills-container__title {
    font-size: 3.8vw;
  }

  .grid {
    height: 75vw;
    margin-top: 6vw;
  }

  #square {
    border-radius: 3vw;
  }

  .skillsFlex {
    height: 12vw;
    width: 94vw;
    font-size: 2.6vw;
  }

  .projects-container {
    margin-top: 15vw;
  }

  .projects-container__title {
    font-size: 3.8vw;
    margin-bottom: 10vw;
  }

  .project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 130vw;
  }

  .project-1__text,
.project-2__text,
.project-3__text,
.project-4__text,
.project-5__text,
.project-6__text {
    width: 70%;
    height: 50%;
    padding: 5vw;
  }
  .project-1__text h2,
.project-2__text h2,
.project-3__text h2,
.project-4__text h2,
.project-5__text h2,
.project-6__text h2 {
    font-size: 4vw;
  }
  .project-1__text p,
.project-2__text p,
.project-3__text p,
.project-4__text p,
.project-5__text p,
.project-6__text p {
    font-size: 2.8vw;
  }

  .projectpic {
    border-radius: 3vw;
    height: 50%;
    width: 70%;
  }

  .calc {
    max-width: 50%;
    width: 50%;
    border-radius: 3vw;
  }

  .game {
    border-radius: 3vw;
  }

  .punkapi {
    border-radius: 3vw;
  }

  .morseCode {
    border-radius: 3vw;
  }

  .nologer {
    border-radius: 3vw;
  }

  .project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
    margin-top: 15vw;
  }

  .fas {
    font-size: 5vw;
  }

  .footer {
    margin-top: 15vw;
  }
  .footer button {
    width: 25vw;
    height: 6vw;
    font-size: 2.6vw;
    border-radius: 3vw;
  }

  .footer__text {
    font-size: 4vw;
  }

  .btn__footer {
    height: 30vw;
    margin: 6vw 0;
  }
  .btn__footer p {
    font-size: 2.8vw;
  }
}